/backend/.venv
/backend/.env
/frontend/node_modules/
/backend/pip.ini
/backend/azure_token_cache.bin
/backend/aiAPIcheck.py
/backend/app/logs/
**/azure_token_cache.bin
/backend/logs/app.log
/.idea/httpRequests/http-client.cookies
/.idea/httpRequests/http-requests-log.http
